@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap");
* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

body {
  text-align: center;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
}

/*typography*/
h1, h2, h3 {
  font-weight: 700;
  color: #EDECEE;
  margin-top: 0;
}

h1 {
  font-size: 4rem;
  letter-spacing: 5px;
}

h2 {
  font-size: 3rem;
  letter-spacing: 3px;
}

h3 {
  color: inherit;
  font-size: 2.5rem;
  letter-spacing: 2px;
}

p {
  margin-top: 0;
  text-align: justify;
  text-indent: 2rem;
  line-height: 1.5rem;
}

.highlight {
  color: #8AE1FC;
}

/*links*/
.nav-links {
  font-size: 1.3rem;
  position: relative;
  text-decoration: none;
  color: #8AE1FC;
  letter-spacing: 2px;
}
.nav-links:not(:last-child) {
  margin-right: 1rem;
}
.nav-links::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 1.5rem;
  left: 0;
  width: 50%;
  transform: translateX(50%);
  border-bottom: 1px dashed #8AE1FC;
  transition: 0.2s linear;
}
.nav-links:hover, .nav-links:focus {
  color: #F3FBFE;
}
.nav-links:hover::after, .nav-links:focus::after {
  border-color: #F3FBFE;
  width: 90%;
  transform: translateX(5%);
  transition: 0.2s linear;
}

.section-links {
  color: inherit;
  text-underline-position: under;
}
.section-links:hover, .section-links:focus {
  text-decoration: none;
  font-weight: 700;
}

.projects-links {
  text-decoration: none;
  color: #EDECEE;
  letter-spacing: 1.3px;
}
.projects-links:hover, .projects-links:focus {
  color: #8AE1FC;
}

/*layout*/
header, section {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5rem;
}

.fixed-nav {
  background-color: #242325;
  padding: 1rem 0;
  position: fixed;
  top: 0rem;
  left: 0;
  right: 0;
  z-index: 1000;
}

.dark-section {
  background-color: #242325;
  color: #EDECEE;
}

.light-section {
  background-color: #EDECEE;
  color: #242325;
}

.projects-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  align-items: end;
}

.project-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 0.7rem;
  border-radius: 10px;
  box-shadow: 0 0 20px 2px #000;
}
.project-img:hover {
  transform: scale(1.01);
  cursor: pointer;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.7);
}

.contacts-wrapper a:not(:last-child) {
  margin-right: 1rem;
}

/*media queries*/
@media (max-width: 1024px) {
  .projects-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  body {
    font-size: 16px;
  }
  header, section {
    padding: 3rem;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 450px) {
  body {
    font-size: 14px;
  }
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.2rem;
  }
  .nav-links {
    font-size: 1rem;
  }
  header, section {
    padding: 1rem;
  }
  .projects-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .contacts-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .contacts-wrapper a:not(:last-child) {
    margin-right: 0;
  }
}
@media (max-width: 390px) {
  body {
    font-size: 12px;
  }
  header, section {
    padding: 0.75rem;
  }
}/*# sourceMappingURL=style.css.map */