@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&display=swap');

$primary-dark: #242325;
$primary-light: #EDECEE;
$highlight-color: #8AE1FC;
$hover-color: #F3FBFE;

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-size: 18px;
}

body {
    text-align: center;
    font-family: 'Inconsolata', monospace;
    font-weight: 400;
}

/*typography*/

h1, h2, h3 {
    font-weight: 700;
    color: $primary-light;
    margin-top: 0;
}

h1 {
    font-size: 4rem;
    letter-spacing: 5px;
}

h2 {
    font-size: 3rem;
    letter-spacing: 3px;
}

h3 {
    color: inherit;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

p {
    margin-top: 0;
    text-align: justify;
    text-indent: 2rem;
    line-height: 1.5rem;
}

.highlight {
    color: $highlight-color;
}

/*links*/

.nav-links {
    font-size: 1.3rem;
    position: relative;
    text-decoration: none;
    color: $highlight-color;
    letter-spacing: 2px;
    margin-right: 1rem;
    &::after {
        content: "";
        display: inline-block;
        position: absolute;
        top: 1.5rem;
        left: 0;
        width: 50%;
        transform: translateX(50%);
        border-bottom: 1px dashed $highlight-color;
        transition: .2s linear;
    }
    &:hover {
        color: $hover-color;
        &::after {
            border-color: $hover-color;
            width: 90%;
            transform: translateX(5%);
            transition: .2s linear;
        }
    }
}

.section-links {
    color: inherit;
    text-underline-position: under;
    &:hover {
        text-decoration: none;
        font-weight: 700;
    }
}

/*layout*/

header, section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem;
}

.dark-section {
    background-color: $primary-dark;
    color: $primary-light;
}

.light-section {
    background-color: $primary-light;
    color: $primary-dark;
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    & img {
        max-width: 100%;
        height: auto;
        margin-bottom: .5rem;
        border-radius: 10px;
    }
}
